<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
     <title>Sistema de control</title>

  </head>
    <body class="bg-light">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">RENO</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-tabs">
            <li class="nav-item" onclick="myFunction(1)">
                <a class="nav-link" href="#">Dar Alta</a>
            </li>
            <li class="nav-item" onclick="myFunction(2)">
                <a class="nav-link" href="#">Dar Baja</a>
            </li>
          </ul>
        </div>
      </nav>

    <br>

        <div class="container">
            <div class="row">

            <div class="col-md-12 order-md-1">
                <div id="control" style={{ display1 }}>
                    <h2 class="mb-3 text-center">ALTAS</h2>
                    <div style={{ display1 }}>
                      {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'message' %}
                                  <div class="alert alert-success" role="alert">
                                {% else %}
                                  <div class="alert alert-{{ category }}" role="alert">
                                {% endif %}
                                  <strong>{{ message }}</strong>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            {% endfor %}
                          {% endif %}
                      {% endwith %}
                    </div>

                    <form action={{url_for('subir_archivo')}} method="POST" enctype="multipart/form-data">
                     <div class="form-group">
                     <label> Seleccione tipo :</label>
                     <select name="tipo_subida">
                                <option value="baseModulos">Modulos</option>
                                <option value="basePiezas">Piezas</option>
                     </select>
                     </div>
                     <div class="form-group">
                     <input type="file" name="archivo">
                     </div>
                     <button type="submit" class="btn btn-success">Enviar</button>

                    </form>
            <br><br>
                </div>

                <div id="baja_op" style={{ display2 }}>
                <h2 class="mb-3 text-center">BAJAS</h2>
                {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-success" style={{ display2 }} role="alert">
                          <strong>{{ message }}</strong>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <form action={{url_for('baja_archivo')}} method="POST" enctype="multipart/form-data">
                     <div class="form-group">
                     <label for="tipo"> Seleccione tipo :</label>
                     <select name="tipo" id="tipo">
                                <option value="baseModulos">Modulos</option>
                                <option value="basePiezas">Piezas</option>
                                <option value="Ambas">Ambas</option>
                     </select>
                     </div>
                     <div class="form-group">
                         <label for="op">Seleccione OP:</label>
                         <input list="encodings" type="text" class="form-control" name="op" id="op" placeholder="OP">
                         <datalist id="encodings">
                            {% for row in ops %}
                            <option>{{row['OP']}}</option>
                            {% endfor %}
                         </datalist>
                     </div>
                     <button type="submit" class="btn btn-success">Enviar</button>
                    </form>

            <br><br>

                </div>
            </div>
        </div>
     <script>
        function myFunction(idButton) {
            var div1 = document.getElementById('control');
            var div2 = document.getElementById('baja_op');

        switch(idButton) {
            case 1:
                div1.style.display = 'block';
                div2.style.display = 'none';
                break;
            case 2:
                div1.style.display = 'none';
                div2.style.display = 'block';
                break;
        default:
          alert("hay un problema: No existe id.")
        }
    }
    </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

        </body>

</html>