<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
    <title>Sistema de control</title>
  </head>
    <body class="bg-light">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">RENO</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Corte
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href={{ url_for('index1' , maquina="GBN1", ventana=1) }}>GBN1</a>
                <a class="dropdown-item" href={{ url_for('index1' , maquina="SLC", ventana=1) }}>SLC</a>
                <a class="dropdown-item" href={{ url_for('index1' , maquina="NST", ventana=1) }}>NST</a>
                <a class="dropdown-item" href={{ url_for('index1' , maquina="GBM", ventana=1) }}>GBM</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pegado
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href={{ url_for('index1' , maquina="STF", ventana=1) }}>STF</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="MRT1") }}>MRT1</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="MRT2") }}>MRT2</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="MRT3") }}>MRT3</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="MRT4") }}>MRT4</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="IDM") }}>IDM</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Agujereado
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href={{ url_for('index2' , maquina="RVR") }}>RVR</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="CHN") }}>CHN</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="FTAL1") }}>FTAL1</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="KBT1") }}>KBT1</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="KBT2") }}>KBT2</a>
                <a class="dropdown-item" href={{ url_for('index1' , maquina="VTP1", ventana=1) }}>VTP1</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Frentes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href={{ url_for('index1' , maquina="LEA", ventana=1) }}>LEA</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="PRS") }}>PRS</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="ALU") }}>ALU</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Armado
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href={{ url_for('index2' , maquina="PLTER") }}>PLTER</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="HORNO") }}>HORNO</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Control
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href={{ url_for('index2' , maquina="PLACARD") }}>PLACARD</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="PEGADO") }}>PEGADO</a>
                <a class="dropdown-item" href={{ url_for('index2' , maquina="AGUJEREADO") }}>AGUJEREADO</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Informes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href={{ url_for('index3' , maquina="DESPACHO", templete='index3') }}>DESPACHO</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
        
    <br>

    <div class="container">
    
      <div class="row">
        
        <div class="col-md-12 order-md-1">
          <br>
          <h4 class="mb-3 text-center">SELECCIONE EL SISTEMA A UTILIZAR</h4>
        </div>
      </div>
    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  --></body>
</html>