<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
     <title>Sistema de control</title>
  </head>
    <body class="bg-light">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">RENO</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-tabs">
            <li class="nav-item" onclick="myFunction(1)">
                <a class="nav-link" href="#">Control</a>
            </li>
            <!--<li class="nav-item" onclick="myFunction(2)">
                <a class="nav-link" href="#">Etiqueta</a>
            </li> -->
            <li class="nav-item" onclick="myFunction(2)">
                <a class="nav-link" href="#">Baja OP</a>
            </li>
          </ul>
        </div>
      </nav>

    <br>

        <div class="container">
            <div class="row">

            <div class="col-md-12 order-md-1">
                <div id="control">
                    <h2 class="mb-3 text-center">{{ maquina }}</h2>
                    <h4 class="mb-3">Control</h4>
                    {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                        <form action={{url_for('escanear_codigo', maq=maquina, templete="index1")}} method="POST">
                            <div class="form-group">
                            <input type="text" class="form-control" id="cod_escaneado" name="cod_escaneado" placeholder="Codigo Escaneado">
                            </div>
                            <button type="submit" style="display:none;" class="btn btn-primary">Submit</button>
                        </form>
            <br>
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Piezas escaneadas</th>
                                    <th scope="col">Descripcion</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for pieza in piezas %}
                              <tr>
                                <td>{{pieza.0}}</td>
                                <td>{{pieza.1}}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
            <br>
                </div>

                <div id="baja_op" style="display:none;">
                    <h2 class="mb-3 text-center">{{ maquina }}</h2>
                    <h2 class="mb-3 text-center">{{ ver }}</h2>
                    <h4 class="mb-3">Lectura masiva de piezas</h4>
                <!--    <form>
                    <div class="form-group">
                        <label for="ops">OP:</label>
                        <input list="list_ops" type="text" class="form-control" id="ops" name="op"
                               placeholder="OP">
                        <datalist id="list_ops">
                        {% for op in ops %}
                        <option value={{ op['OP'] }}>
                        {% endfor %}
                        </datalist>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="color">Color:</label>
                            <input list="list_colores" type="text" class="form-control" id="color" placeholder="Color">
                            <datalist id="list_colores">
                            {% for color in colores %}
                            <option value={{ color }}>
                            {% endfor %}
                            </datalist>
                        </div>
                        <div class="col">
                            <label for="espesor">Espesor:</label>
                            <input list="list_espesores" type="text"  id="espesor" class="form-control" placeholder="Espesor">
                            <datalist id="list_espesores">
                            {% for espesor in espesores %}
                            <option value={{ espesor }}>
                            {% endfor %}
                            </datalist>
                        </div>
                    </div>
                    <div><br> <p>Piezas totales seleccionadas: {{ cantidad }} </p> </div>
                    <button type="submit" class="btn btn-success">Dar de bajas piezas</button>

                    </form> -->
                <form>
                <div class="container">

                        <div class="form-group">
                            <label for="car_brand">OP:</label>
                            <select name="car_brand" data-live-search="true" id="car_brand" class="form-control">
                            <option selected>OP</option>
                            {% for row in ops %}
                            <option value="{{row}}">{{row}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="car_models">Color:</label>
                            <select name="car_color" data-live-search="true" id="car_color" class="form-control">
                            <option selected>Color</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="car_models">Espesor:</label>
                            <select name="car_models" data-live-search="true" id="car_models" class="form-control">
                            <option selected>Espesor</option>
                            </select>

                        </div>

                </div>
                    </form>
                </div>
            </div>
        </div>
    <script>
        function myFunction(idButton) {
            var div1 = document.getElementById('control');
            var div2 = document.getElementById('baja_op');

        switch(idButton) {
            case 1:
                div1.style.display = 'block';
                div2.style.display = 'none';
                break;
            case 2:
                div1.style.display = 'none';
                div2.style.display = 'block';
                break;
        default:
          alert("hay un problema: No existe id.")
        }
    }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <!-- <script>
            $(document).ready(function () {
                $("#car_brand").selectpicker();
                $("#car_models").selectpicker();

                function load_data(type, category_id) {
                    $.ajax({
                        url: "/carbrand",
                        method: "POST",
                        data: { type: type, category_id: category_id },
                        dataType: "json",
                        success: function (data) { //alert(category_id)
                            var html = "";
                            for (var count = 0; count < data.length; count++) {
                                html += '<option value="' + data[count].OP + '">' + data[count].PIEZA_PROFUNDO + "</option>";
                            }
                            if (type == "carData") {
                                $("#car_brand").html(html);
                                $("#car_brand").selectpicker("refresh");
                            } else {
                                $("#car_models").html(html);
                                $("#car_models").selectpicker("refresh");
                            }
                        },
                    });
                }

                $(document).on("change", "#car_brand", function () {
                    var category_id = $("#car_brand").val();
                    load_data("carModeldata", category_id);
                });
            });
        </script> -->
            <!-- <script>
            $(document).ready(function () {
                $("#car_brand").selectpicker();
                $("#car_color").selectpicker();
                $("#car_models").selectpicker();

                function load_data(type, category_id) {
                    $.ajax({
                        url: "/carbrand",
                        method: "POST",
                        data: { type: type, category_id: category_id },
                        dataType: "json",
                        success: function (data) { //alert(category_id)
                            var html = "";
                            if (type == "carColordata") {
                            for (var count = 0; count < data.length; count++) {
                                html += '<option value="' + data[count].OP + '">' + data[count].PIEZA_NOMBRECOLOR + "</option>";
                            } } else { for (var count = 0; count < data.length; count++) {
                                html += '<option value="' + data[count].OP + '">' + data[count].PIEZA_PROFUNDO + "</option>";
                            } }
                            if (type == "carData") {
                                $("#car_brand").html(html);
                                $("#car_brand").selectpicker("refresh");
                            } else { if (type == "carColordata") {
                                $("#car_color").html(html);
                                $("#car_color").selectpicker("refresh");
                                } else {
                                $("#car_models").html(html);
                                $("#car_models").selectpicker("refresh"); }
                            }
                        },
                    });
                }

                $(document).on("change", "#car_brand", function () {
                    var category_id = $("#car_brand").val();
                    load_data("carColordata", category_id);
                    load_data("carModeldata", category_id);
                });
            });
        </script> -->
        <script>
            $(document).ready(function () {
                $("#car_brand").selectpicker();
                $("#car_color").selectpicker();

                function load_data(type, category_id) {
                    $.ajax({
                        url: "/carbrand",
                        method: "POST",
                        data: { type: type, category_id: category_id },
                        dataType: "json",
                        success: function (data) { //alert(category_id)
                            var html = "<option selected>Color</option>";
                            for (var count = 0; count < data.length; count++) {
                                html += '<option value="' + data[count].OP + '">' + data[count].PIEZA_NOMBRECOLOR + "</option>";
                            }
                            if (type == "carData") {
                                $("#car_brand").html(html);
                                $("#car_brand").selectpicker("refresh");
                            } else {
                                $("#car_color").html(html);
                                $("#car_color").selectpicker("refresh");
                            }
                        },
                    });
                }

                $(document).on("change", "#car_brand", function () {
                    var category_id = $("#car_brand").val();
                    load_data("carColordata", category_id);
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $("#car_color").selectpicker();
                $("#car_models").selectpicker();

                function load_data(type, color) {
                    $.ajax({
                        url: "/carcolor",
                        method: "POST",
                        data: { type: type, color: color },
                        dataType: "json",
                        success: function (data) { //alert(color)
                            var html = "<option selected>Espesor</option>";
                            for (var count = 0; count < data.length; count++) {
                                html += '<option value="' + data[count].PIEZA_NOMBRECOLOR + '">' + data[count].PIEZA_PROFUNDO + "</option>";
                            }
                            if (type == "carColor") {
                                $("#car_color").html(html);
                                $("#car_color").selectpicker("refresh");
                            } else {
                                $("#car_models").html(html);
                                $("#car_models").selectpicker("refresh");
                            }
                        },
                    });
                }

                $(document).on("change", "#car_color", function () {
                    var color = $("#car_color").val();
                    load_data("carModelsdata", color);
                });
            });
        </script>
            <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->
        </body>

</html>